<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Seminar</title>
</head>
<style>
</style>

<div id="list" class="container-fluid">
    <h5 class="text-center">CONTACT</h5>
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="jumbotron">
          <h2 class="text-center">참가접수가 성공적으로 되었습니다</h2>
            <br><br><br>
            <ul class="pager btn-lg">
                <li><a href="register_form">Back to Home</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>

</body>
</html>
